html {
  background-color: white;
}
nav {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
#box {
  display: flex;
  width: 90vw;
  flex-direction: row;
}

#visual {
  width:50vw;
  display: flex;
  flex-direction: row;
}
.leftVis{
  width: 20vw !important;
}
.rightVis{
  width: 20vw !important;
}
.eq{
  width:4vw !important;
}
#algebra {
  width:30vw;
  border-width: 4px;
  border-style: solid;
  font-size: 20px;
  table{
    width:30vw;
  }
  td{
    // width:20vw;
  }
}
#singleEquation {
  // background-color: blue;
}

#controls{
  display:flex;
}
.leftSide {
 background-image: './plate.jpg';
 /* background-color:black; */
 color:white;
 display:flex;
 width:20vw;
 flex-wrap: wrap;
}
.rightSide {
  background-color:white;
  display:flex;
  width:20vw;
  flex-wrap: wrap;

}
.variable {
  background-image: 'http://b2b.libbey.com/var/libbey/storage/images/business-to-business-home/expertise/packaging-design/closed-box2/32741-2-eng-US/Closed-Box_reference.jpg';
  background-color: green;
  margin: 5px;
  width:30px;
  height:30px;
}
.constant {
  background-color: green;
  margin: 5px;
  width:30px;
  height:30px;
  border-radius:50px;
}

